@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100");

*,
*:after,
*:before {
  @include box-sizing(border-box);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #999999;
}

html, body {
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  @include box-sizing(border-box);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #3397BF;
  -webkit-transition: text-decoration 0.2s, color 0.2s;
  -moz-transition: text-decoration 0.2s, color 0.2s;
  -o-transition: text-decoration 0.2s, color 0.2s;
  transition: text-decoration 0.2s, color 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #22657F;
}

.home {
  padding: 40px;
}

.home .header {
  font-size: 24px;
  margin-bottom: 20px;
}

.home .subheader {
  font-size: 18px;
  margin-bottom: 30px;
}