
a, a:link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out; }

a:hover {
  color: #FFBB33; }

header {
    position: fixed;
    top: 20px;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

#burger {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
    z-index: 10000;
    cursor: pointer;
}

.hamburger {
    margin: 8px 3px;
    display: inline-block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background: #ddd;
    z-index: 10000;
    text-align: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

#nav:hover > #burger .hamburger {
    background: #FFBB33;
}

#main_nav {
    opacity: 0;
    z-index: 0;

    transition: opacity 0.3s 0.1s linear;
    -webkit-transition: opacity 0.3s 0.1s linear;
    -moz-transition: opacity 0.3s 0.1s linear;
    -o-transition: opacity 0.3s 0.1s linear;
}

#main_nav ul {
    position: relative;
    clear: both;
}

#main_nav ul li {
    position: relative;
    font-size: 20px;
    font-family: Consolas, Monaco, monospace;
    padding: 0 15px;
    display: inline;
    cursor: pointer;
}

#main_nav ul li:hover {
    color: #FFBB33;
}

#nav:hover > #main_nav {
    opacity: 1;
    z-index: 1001;
}

.outer {
    font-family: "Gotham";
    background: #fff;
    display: table;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.contact {
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px 0px;
}

.circle {
    margin: 50px 15px;
    display: inline-block;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    background: #bbb;
    line-height: 15vh;
    text-align: center;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
}

.circle img {
    text-align: center;
    margin: 1.2vh auto 0 auto;
    height: 12vh;
}

.facebook:hover {
    background: #3B5998;
}

.instagram:hover {
    background: #517FA4;
}

.vsco:hover {
    background: #A8A749;
}

.linkedin:hover {
    background: #007BB6;
}

.github:hover {
    background: #111;
}

.bitbucket:hover {
    background: #003366;
}

.email:hover {
    background: #FFBB33;
}

footer {
    text-align: center;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}

#footer {
    font-family: Consolas, Monaco, monospace;
    font-size: 18px;
    line-height: 80px;
    z-index: 10000;
}
