/** Main style sheet for Christian's Portfolio
 *  @author Christian Le */

body, html {
    background: #fff;
}

a, a:link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out; }

a:hover {
  color: #99CC00; }

header {
    position: fixed;
    top: 0.6em;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

#burger {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
    z-index: 10000;
    cursor: pointer;
}

.hamburger {
    margin: 8px 3px 4px 3px;
    display: inline-block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background: #ddd;
    z-index: 10000;
    text-align: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

#nav:hover > #burger .hamburger {
    background: #99CC00;
}

#main_nav {
    opacity: 0;
    z-index: 0;

    transition: opacity 0.3s 0.1s linear;
    -webkit-transition: opacity 0.3s 0.1s linear;
    -moz-transition: opacity 0.3s 0.1s linear;
    -o-transition: opacity 0.3s 0.1s linear;
}

#main_nav ul {
    position: relative;
    clear: both;
}

#main_nav ul li {
    position: relative;
    font-size: 16px;
    font-family: Consolas, Monaco, monospace;
    padding: 0 9px;
    display: inline;
    cursor: pointer;
}

#main_nav ul li:hover {
    color: #99CC00;
}

#nav:hover > #main_nav {
    opacity: 1;
    z-index: 1001;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 94%;
    z-index: 12;
}

#footer {
    font-family: Consolas, Monaco, monospace;
    font-size: 16px;
    z-index: 12;
}

/*#about_nav {
    position: fixed;
    height: 100px;
    width: 100%;
    text-align: center;
    bottom: 50px;
    z-index: 11;
}

#about_nav ul {
    position: relative;
    clear: both;
    z-index: 11;
}

#about_nav ul li {
    position: relative;
    font-size: 18px;
    font-family: 'Flamenco', cursive;
    font-weight: 300;
    padding: 0 15px;
    display: inline;
    line-height: 100px;
    z-index: 11;
    cursor: pointer;
}

#about_nav ul li.active {
    position: relative;
    font-weight: 400;
    color: #aaa;
    z-index: 11;
}

#about_nav ul li:hover {
    color: #99CC00;
}*/

.outer {
    display: table;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 1;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
}

.content {
    position: relative;
    width: 100vw;
    white-space: nowrap;
    z-index: 10;
}

.circ {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 3.25vh;
    line-height: 60vh;
    height: 60vh;
    width: 60vh;
    font-family: Consolas, Monaco, monospace;
    background: #ddd;
    border-radius: 50%;
    color: #fff;
    margin-left: 4vh;
    z-index: 10;
}

.green {
    background: #99CC00;
}

.me {
    background: url("../../img/home.jpg") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.cal {
    background: url("../../img/cal.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.photog {
    background: url("../../img/photography.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.cs {
    background: url("../../img/web.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.margin_right {
    margin-right: 4vh;
}

.hovertext {
    opacity: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.circ:hover > .hovertext {
    opacity: 1;
}
